
.box
{
    width: 100px;
    height: 100px;
    border: 1px solid green;
    float: left;
}
.clear
{
    clear: both;
}
.container
{
    width: 960px;
    height: 620px;
}
.content
{
    width: 80%;
    background-color: #c5e1a5;
    height: 100%;
}
.side-bar
{
    width: 20%;
       background-color: #ff5722;
       height: 100%;
}
.content,
.side-bar
{
    float:left;
}